<div class="product-list">
  <h1>All Product List</h1>
  <p class="message-p">{{ productMessage }}</p>
  <table>
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Color</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productList">
        <td><img src="{{product.image}}" alt="{{ product.name }}" /></td>
        <td>{{ product.name }}</td>
        <td>{{ product.price | currency }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.color }}</td>
        <td>{{ product.description }}</td>
        <td>
          <!-- <button (click)="editProduct(product)">Edit</button> -->
          <button (click)="deleteProduct(product.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
